body {
    margin:0;
    padding: 0;
    background:linear-gradient(to right,rgb(199, 247, 219),rgb(188, 188, 192));
}

.form-container {
    display:flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

form label {
   display:block;
   color:#555;
    margin:15px;
}

form input {
color:black;
border: solid green 5px;
border-radius: 5px;

}

form select,button {
    margin:5px 5px;
    padding:5px 5px;
}
button:hover {
    background-color: blue;
    transition: 0.3s;
}