body{
    padding: 0;
    margin:0;
    text-align:center;
    justify-content: center;
}
table {
    border-collapse: collapse;
    border:5px outset black;
}
tr:nth-child(1) {
    background:red;

}