body{
    padding:0;
    margin:0;
}
.formcont {
display: block;
justify-content: center;
width:250px;

align-items: center;
margin:25px;
padding:5px 5px;
border:5px solid black;
}
form {
    display:flex;
    flex-direction: column;
    gap:15px;
}
textarea {
    height:120px;
}

input:focus,textarea:focus,select:focus {
    border:2px solid blue;

}