*{
    margin: 0;
    padding: 0;
}

.container{
    width: 60%;
    height: 350px;
    background-color: yellowgreen;
    margin: auto;
}

p {
    background-color: black;
    color:white;
    
}
h1 {
    color:aqua;
}
button {
    font-size: 25px;
}