*{
    margin:0;
    padding:0;

}
.card{
    border-radius: 10 px;
    box-shadow:0 4px 10px rgba(0,0,0,0.3);
    background-color: aqua;
    border-radius:5px;
    border:5px solid black;
    padding: 20px 20px 10px ;
    margin:20px 25px 5px 5px;
}